.filter-button {
  background-color: transparent;
  color: inherit;
  border: 1px solid currentcolor;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-fade);
    color: var(--color-primary-opposite);
    transition: 0.2s ease-in-out;
    transition-property: background-color, color;
  }

  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
    border-color: var(--color-primary);
  }
}
